@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e2e2e7;
}

::-webkit-scrollbar-thumb {
  background: #5b5b5b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1c1c1c;
}
